@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: black;
}

.page-header {
  background-color: #ffffff;
  color: black;
}

.navigation-link{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;

}
.button-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  gap: 10px;
  text-decoration: none;
}

.main-index {
  background-color:#ffffff;
  color: black;
  ;
}
.advantages-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.advantages-house {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description{
  font-weight: 400;
  text-align: center;
}

.advice-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advice-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.advice-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advice-description {
  text-align: center;
  font-weight: 400;
}

.hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.hotel-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  gap: 10px;
  text-decoration: none;
}

.newsletter {
  background-image: url("../images/subscribe.png");
  color: #ffffff;
  background-color: black;
  width: 1200px;
  height: 415px;
  background-size: auto;
  background-repeat: no-repeat;
}

.page-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.newsletter-button{
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

}

.newsletter-field{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  align-items: center;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.search-hotel {
  background-image: url("../images/background.png");
  color: #ffffff;
  width: 1200px;
  height: 412px;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.filter-caption {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 700;
}

.filter-option {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.button-select {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  font-weight: 700;
}

.button-discard {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  font-weight: 700;

}

.catalog-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.navigation-icon-search:before {
  content: url("../images/search.svg")
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
